<!DOCTYPE html>
<html>

<head>
<title>NJIT Data Map</title>
</head>

<body ng-app="njit-google-map-app" ng-controller="MapController">


	<div id="map"></div>
</body>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUA54eGrDCSMOaBlSp38augVakO9wnXwo&callback=map"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/data.js"></script>
<script src="js/app/map-controller.js"></script>

<link href="css/map/map.css" rel="stylesheet" type="text/css">
</html>